body {
    background-color: #ADCCF6;
}

div {
    display:flex;
    justify-content:center;
    align-items:center;
}

h1 {
    font-family:"omnes-pro", sans-serif;
    font-display:auto;
    font-weight:800;
    font-stretch:normal;
    font-size:80px;
    color: #FFFFFF;
}

p {
    font-family:"omnes-pro", sans-serif;
    font-display:auto;
    font-style:italic;
    font-weight:400px;
    font-size:medium;
    color:white;
}

.rounded-button {
    background-color: #FF443A;
    border:none;
    color: white; /* White text */
    padding: 10px 50px; /* Padding */
    text-align: center; /* Center text */
    text-decoration: none; /* Remove default underline */
    font-family:"amifer";
    font-size: 20px; /* Font size */
    margin: 2px 2px; /* Margin */
    transition-duration: 0.3s; /* Transition duration */
    border-radius: 40px; /* Rounded corners */
}

.rounded-button:hover {
    background-color: #ab2d27; /* Darker red background on hover */
}

.upload-container {
    justify-content:center;
    align-items:center;
    text-align:center;
}

.upload-container label {
    display:block;
    font-family:"omnes-pro", sans-serif;
    font-display:auto;
    font-weight:400px;
    font-size:20px;
    color:white;
    margin-bottom: 20px; /* Add space between labels and inputs */
}

.upload-container input {
    background-color:#73A7ED;
    padding:200px 30px;
    margin:0px 30px;
    border-style:solid;
    border-radius:30px;
    border-color:white;
}

form {
    display:flex;
}

.feedback-container {
    justify-content:center;
    align-items:center;
    text-align:center;
}

.feedback-container label {
    display:block;
    font-family:"omnes-pro", sans-serif;
    font-display:auto;
    font-weight:400px;
    font-size:20px;
    color:white;
    margin-bottom: 20px;
}

.feedback-container button {
    padding-bottom: 10px;
}

textarea {
    background-color:#73A7ED;
    padding:30px 30px;
    margin:0px 5px;
    border-style:solid;
    border-radius:30px;
    border-color:white;
}

.chat-gpt {
    background-color:#E5E5E5;
    padding:30px 30px;
    margin:0px 30px;
    border-style:solid;
    border-radius:30px;
    border-color:#73A7ED;
    color:black;
}