<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>CodeGradr.</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='codegradr.css') }}">
        <script src="https://kit.fontawesome.com/6a36c605f0.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://use.typekit.net/xpi5zwl.css">
        <link rel="icon" href="{{ url_for('static', filename='laptop-code-solid.svg') }}" type="image/svg+xml" style="fill:#FFFFFF;">
    </head>
    <body>
        <div>
            <h1>CodeGradr.</h1>
        </div>

        <div>
            <section style="display:flex;">
                <form action="/compile" id="studentCode" method="post" enctype="multipart/form-data">
                    <section class="feedback-container">
                        <label>Compile and run the student's implementation. Then, generate feedback. </label>
                        <textarea id="student_impl" name="student_impl" rows="25" cols="60">{{ code }}</textarea>
                        <section display="flex">
                            <p>
                                <button type="submit" class="rounded-button" id="compileButton">COMPILE</button>
                                <button class="rounded-button" id="runButton">RUN</button>
                            </p>
                        </section>
                    </section>
                </form>
                <section class="feedback-container">
                    <label><i class="fa-solid fa-laptop-code"></i></label>
                    <textarea id="gptResponse" class="chat-gpt" rows="25" cols="40">{{ gpt_response }}</textarea>
                    <p>
                        <button id="generateButton" class="rounded-button">GENERATE FEEDBACK</button>
                    </p>
                </section>
            </section>
        </div>

        <script>
            document.getElementById("runButton").addEventListener("click", function(event) {
                event.preventDefault();
                document.getElementById("gptReponse").value = "running test files...";
                var xhr = new XMLHttpRequest();
                xhr.open("GET", "/run", true);
                xhr.onreadystatechange = function () {
                    if (xhr.readyState == 4 && xhr.status == 200) {
                        document.getElementById("gptResponse").value = '';
                    }
                };
                xhr.send();
            });

            document.getElementById("generateButton").addEventListener("click", function(event) {
                document.getElementById("gptResponse").value = "waiting for gpt..."; 
                var xhr = new XMLHttpRequest();
                xhr.open("GET", "/response", true);
                xhr.onreadystatechange = function () {
                    if (xhr.readyState == 4 && xhr.status == 200) {
                        // Update textarea with new text received from the server
                        document.getElementById("gptResponse").value = ""; 
                        typeWriter(xhr.responseText); 
                    }
                };
                xhr.send();
            });

            function typeWriter(txt) {
                var i = 0;
                var speed = 50; 
                function type() {
                    if (i < txt.length) {
                        document.getElementById("gptResponse").value += txt.charAt(i);
                        i++;
                        setTimeout(type, speed);
                    }
                }
                type();
            }
        </script>
    </body>
</html>