<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>CodeGradr.</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='codegradr.css') }}">
        <script src="https://kit.fontawesome.com/6a36c605f0.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://use.typekit.net/xpi5zwl.css">
        <link rel="icon" href="{{ url_for('static', filename='laptop-code-solid.svg') }}" type="image/svg+xml" style="fill:#FFFFFF;">
    </head>
    <body>
        <div>
            <h1>CodeGradr.</h1>
        </div>

        <div>
            <section>
                <section class="feedback-container">
                    <label>Copy and paste the student implementation.</label>
                    <textarea id="student_impl" name="student_impl" rows="30" cols="60">your student's code here</textarea>
                    <section display="flex">
                        <p>
                            <button class="rounded-button" id="compileButton">COMPILE</button>
                            <button class="rounded-button" id="runButton">RUN</button>
                        </p>
                    </section>
                </section>
            </section>
            <section>
                <section class="feedback-container">
                    <label><i class="fa-solid fa-laptop-code"></i></label>
                    <textarea id="gpt_response" name="gpt_response" class="chat-gpt" rows="30" cols="40">chat-gpt generated response
                    </textarea>
                    <p>
                        <button class="rounded-button" id="generate_button">GENERATE FEEDBACK</button>
                    </p>
                </section>
            </section>
        </div>
    

        <!--
        <script>
            const sendRequest = async () => {
                let text = document.getElementById("article").value;
                const response = await fetch("http://127.0.0.1:8000/summarize", {
                    method: "POST",
                    body: text,
                    headers: {
                        "Content-Type": "application/json"
                    }
                });
                const jsonResponse = await response.json();
                document.getElementById("output").innerHTML = JSON.stringify(jsonResponse);
            }

            document.getElementById("submitButton").addEventListener("click",sendRequest);
            -->
        </script>
    </body>
</html>