<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>CodeGradr.</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='codegradr.css') }}">
        <script src="https://kit.fontawesome.com/6a36c605f0.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://use.typekit.net/xpi5zwl.css">
    </head>
    <body>
        <div>
            <h1>CodeGradr.
            </h1>
        </div>

        <div>
            <section>
                <form action="/test_files" method="post" enctype="multipart/form-data" class="upload-container">
                    <label for="test_files">Upload your test files.</label>
                    <input type="file" id="test_files" name="file1" multiple webkitdirectory>
                </form>
            </section>
            <section>
                <form action="/impl_file" method="post" enctype="multipart/form-data" class="upload-container">
                    <label for="impl_file">Upload the correct implementation.</label>
                    <input type="file" id="impl_file" name="file2" multiple webkitdirectory>
                </form>
            </section>
        </div>
        
        <div>
            <p>
                <a href="{{ url_for('feedback') }}">
                    <button class="rounded-button" id="nextButton">NEXT</button>
                </a>
            </p>
        </div>

        <!--
        <script>
            const sendRequest = async () => {
                let text = document.getElementById("article").value;
                const response = await fetch("http://127.0.0.1:8000/summarize", {
                    method: "POST",
                    body: text,
                    headers: {
                        "Content-Type": "application/json"
                    }
                });
                const jsonResponse = await response.json();
                document.getElementById("output").innerHTML = JSON.stringify(jsonResponse);
            }

            document.getElementById("submitButton").addEventListener("click",sendRequest);
            -->
        </script>
    </body>
</html>