<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>CodeGradr.</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='codegradr.css') }}">
        <script src="https://kit.fontawesome.com/6a36c605f0.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://use.typekit.net/xpi5zwl.css">
        <link rel="icon" href="{{ url_for('static', filename='laptop-code-solid.svg') }}" type="image/svg+xml" style="fill:#FFFFFF;">
    </head>
    <body>
        <div>
            <h1>CodeGradr.</h1>
            <h2>{{ error }}</h2>
        </div>

        <div>
            <form action="/uploads" id="fileForm" method="post" enctype="multipart/form-data">
                <section>
                    <section class="upload-container">
                        <label>Upload your test files.</label>
                        <input type="file" name="test_files" id="test_files" accept=".java" multiple>
                    </section>
                </section>
                <section>
                    <section class="upload-container">
                        <label>Upload the student's implementation.</label>
                        <input type="file" name="solution_files" id="solution_files" accept=".java" multiple>
                    </section>
                </section>
            </form>
        </div>
        
        <div>
            <p>
                <button type="submit" class="rounded-button" id="nextButton">NEXT</button>
            </p>
        </div>

        <script>
            document.getElementById("nextButton").addEventListener("click", function(event){
                // Prevent the default form submission behavior
                event.preventDefault();
                
                // Submit the form
                document.getElementById("fileForm").submit();
            });
        </script> 
    </body>
</html>